# Copyright (C) 2025 Maxim [maxirmx] Samsonov (www.sw.consulting)
# All rights reserved.
# This file is a part of Logibooks ui application 

node_modules
coverage
*.log
Dockerfile
.git
.gitignore
dist
.tmp*
